.countries-box{
    flex-direction: column;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    max-height: 600px;
    overflow: hidden;
}

.continent-list{
    width: 200px;
    margin: 0;
    padding: 16px;
    list-style: none;
    border-right: 1px solid #F3F3F3;
}

.titles{
    display: flex;
    padding: 16px;
}

.titles h3{
    margin: 0;
    flex: 1;
    font-size: 20px;
}

.titles h3:first-child{
    width: 200px;
    flex: none;
}

.table-body{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.continent-item{
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.continent-item:hover{
    background-color: #F3F3F3;
}

.continent-item.active{
    background-color: #F3F3F3;
    font-weight: bold;
}

.countries-cell{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.countries-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.country-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.country-item img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.countries-cell::-webkit-scrollbar{
    width: 2px;
}

.countries-cell::-webkit-scrollbar-track{
    background-color: #F3F3F3;
    border: 6px;
}

.countries-cell::-webkit-scrollbar-thumb{
    background-color: #999999;
    border-radius: 6px;
}

.countries-cell::-webkit-scrollbar-thumb:hover{
    background-color: #7e7e7e;
}

@media(max-width: 768px) {
    .continent-list{
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    .countries-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .table-body{
        display: flex;
        flex-direction: column;
    }

}